<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de libros</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Lista de libros</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Autor</th>
            </tr>
            <tr th:each="libro: ${libros}">
                <td th:text="${libro.id}">123</td>
                <td th:text="${libro.titulo}">Accion</td>
                <td th:text="${libro.editorial.nombre}">Wrox</td>
            </tr>
        </table>
        
    </body>
</html>
